.page-small-group {
  section {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  section:first-of-type {
    h2 {
      color: #07699E;
      font-size: 1.5rem;
      font-weight: bold;
      padding: 0 0.5rem;
    }

    .intro-text {
      font-size: 1.0625rem;
      line-height: 1.8;
      margin-bottom: 2rem;
      padding: 0 0.5rem;
    }

    @include mq(tablet-sm) {
      h2 {
        font-size: 2rem;
        padding: 0 1rem;
      }

      .intro-text {
        font-size: 1.125rem;
        padding: 0 1rem;
      }
    }

    @include mq(laptop) {
      h2 {
        font-size: 2.25rem;
        text-align: center;
        padding: 1rem 2rem;
      }

      .intro-text {
        font-size: 1.2rem;
        padding: 0 3rem;
      }
    }
  }

  .small-group-item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
    overflow: visible;

    @include mq(mobile) {
      padding: 1rem;
    }

    @include mq(tablet) {
      padding: 2rem;
    }

    .image-wrapper {
      position: relative;
      top: -2rem;
      width: 85%;
      margin: 0 auto;

      img {
        width: 100%;
        border-radius: 0.5rem 0.5rem 0 0;
        object-fit: cover;
        display: block;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      }
    }

    .text-block {
      padding: 0 1.5rem;

      h3 {
        color: #07699E;
        font-size: 1.3rem;
        margin: 0rem;
      }

      .class-description {
        font-size: 1rem;
        line-height: 1.8;
      }

      @include mq(tablet) {
        h3 {
          font-size: 1.5rem;
          padding: 0 1rem;
        }

        .class-description {
          font-size: 1.2rem;
          padding: 0 1rem;
        }
      }
    }

    @include mq(mobile) {
      flex-direction: row;
      align-items: flex-start;

      &.reverse {
        flex-direction: row-reverse;
      }

      .image-wrapper {
        flex: 1;
        top: -3rem;
        max-width: 360px;
        margin: 0;
      }

      .text-block {
        flex: 2;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      &.reverse .text-block {
        padding-left: 0;
        padding-right: 1rem;
      }
    }
  }

  .training-rates-heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: bold;

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: normal;
      margin-top: 0.5rem;
    }

    @include mq(tablet-sm) {
      font-size: 2.25rem;

      span {
        font-size: 1.75rem;
      }
    }
  }

  .small-group-table {

    @include mq(mobile) {
      margin: 0 3rem;
    }

     @include mq(tablet-sm) {
      margin: 0 10rem;
    }

    @include mq(tablet) {
      margin: 0 20rem;
    }
  }
}
