/* [Object] Modal
 * =============================== */
.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0, 0, 0, 0.646);
    transition: opacity .25s ease;
}

.modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.modal-state {
    display: none;
}

.modal-state:checked+.modal {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.modal-state:checked+.modal .modal__inner {
    top: 0;
}

.modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 65%;
    box-sizing: border-box;

    h2 {
        font-size: 1.5rem;

    }

    img {
        margin-top: 2rem;
        width: 100%;
        max-height: 360px;
        object-fit: cover;
        object-position: center top;
        border-radius: 5px;
    }

    @include mq(600px) {
        height: 50%;
    }

    @include mq(tablet-sm) {
        width: 70%;
        height: 60%;
    }
}

.modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
}

.modal__close:after,
.modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
    background: #aaa;
}

.modal__close:before {
    transform: rotate(-45deg);
}

/* testimonial card 
 * =============================== */

.testimonial-card {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    
    @include mq(tablet-sm) {
        width: initial;

        label {
            display: flex;
            gap: 2rem;
        }
    }
}

.testimonial-card__image {
    img {
        width: 100%;
        height: 15rem;

        @include mq(tablet-sm) {
            height: 100%;
        }
    }

    @include mq(tablet-sm) {
        max-width: 300px;
        overflow: hidden;
    }
}

.testimonial-card__content {
    padding: 1rem;

    h2 {
        margin-top: 0;
        color: #4f4f4f;
    }

    @include mq(tablet-sm) {
        margin-top: 0;
    }

    @include mq(laptop) {
        width: 550px;
    }
}

.modal__hashtag,
.testimonial-card_hashtag {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .hashtag::before {
        content: '#';
    }

    .hashtag,
    .hashtag:visited {
        color: #07699E;
    }
}

/* .testimonial-card
 * =============================== */

.testimonial-card {
    margin-bottom: 2rem;
    padding: 1rem;
  }
  
  .testimonial-card_inner {
    display: block;
  }
  
  @media (min-width: 768px) {
    .testimonial-card_inner {
      display: flex;
      gap: 2rem;
    }
  
    /* 偶數項反轉排列 */
    .testimonial-card:nth-child(even) .testimonial-card_inner {
      flex-direction: row-reverse;
    }
  
    .testimonial-text {
      flex: 1;
    }
  
    .testimonial-image {
      flex: 1;

      img{
        width: 100%;
        height: auto;
        object-fit: cover;  
        border-radius: 10px;
      }
    }
  }
  

/* page background
 * =============================== */
.page-id-223 {
    background-image: url('images/circle-bg.png');
    background-color: #FBFCF8;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

    .site-main{
        background-color: initial;
    }
}

/* modals
 * =============================== */
 .modals{
    margin-top: 3rem;
 }