.rental-pricing-section {
  position: relative;
  z-index: 2;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #FBFCF8;

  .pricing-table-heading {
    text-align: center;
  }

  .pricing-table {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include mq(tablet-sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    .venue-block {
      flex: 1;
      border: 1px solid #ddd;
      padding: 1rem;

      border-radius: 10px;
      background-color: #fff;

      @include mq(mobile) {
        padding: 2rem;
      }

      @include mq(tablet) {
        padding: 3rem;
      }

      @include mq(laptop) {
        padding: 4rem;
      }

      .venue-title {
        font-size: 1.5rem;
        margin: 0 0 1rem 0;
        color: #0077b6;
        text-align: center;

        @include mq(tablet-sm) {
          margin: 0 0 2rem 0;;
      }
      }

      .rental-fee-table {
        width: 100%;
        margin-bottom: 3rem;

        th,
        td {
          font-size: 1rem;
          text-align: left;
        }
      }

      .equipment-description {
        h4 {
          padding: 0;
          margin: 0;
        }

        .equipment-grid {
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          @include mq(tablet) {
            flex-direction: row;
            flex-wrap: wrap;
          }

          .equipment-floor {
            flex: 1 1 45%;

            h5 {
              font-size: 1rem;
              margin: 0.5rem 0 0 0.5rem;
              color: #333;
            }

            .floor-items {
              font-size: 0.95rem;
              line-height: 1.6;
              text-align: left;
              margin-left: 0.5rem;

              ul {
                margin: 0;
                padding: 0.5rem 1rem;
              }

              ::marker {
                color: #179EC8;
                // color: #07699E;
              }
            }
          }
        }
      }
    }
  }
}
