.wp-singular .site-main {
    background-color: #FBFCF8;

    .post-thumbnail {
        height: 580px;
        overflow: hidden;
        border-radius: 10px;
    
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center 40%;
        }
    }

    .home-class,
    .manifesto-section,
    .modals,
    .home-blog {

        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: auto;

        .post-thumbnail img {
            height: 368px;
            display: block;
            object-fit: cover;
            object-position: center 25%;
        }

        @include mq(mobile) {
            max-width: 480px;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }

        @include mq(tablet-sm) {
            max-width: 768px;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include mq(tablet) {
            max-width: 1024px;
        }

        @include mq(laptop) {
            max-width: 1280px;
        }

        @include mq(desktop) {
            max-width: 1440px;
        }


    }
}