body {
	// padding-top: 60px;
}

/* Hamburger. */
.menu-toggle {
	background-color: transparent;
	border: none;

	svg {
		fill: #fff;
		width: 24px;
	}
}

/* Sub menu arrow styles */
.sub-menu-toggle {
	position: relative;
	width: 24px;
	height: 24px;
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 0;
	margin: 0.5rem;
}

.sub-menu-toggle .toggle-icon {
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid currentColor;
	transition: transform 0.3s ease;
	margin: 0 auto;
	color: #fff;
}

/* open mode - arrow turn up */
.sub-menu-toggle[aria-expanded="true"] .toggle-icon {
	transform: rotate(180deg);
}

/* ======================== Header menu ======================= */

/* ---------------------------------------.site-header */

.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: black;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-custom-logo {
	height: 48px;
	margin: 0.5rem;

	svg {
		height: 100%;
		width: fit-content;
	}
}

.site-branding {
	display: flex;
	align-items: end;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;

	.site-description {
		margin: 0.25rem;
		padding: 0;
		list-style: none;
		color: #fff;
		font-size: 0.75rem;
	}
}

/* ---------------------------------------.main-navigation */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.main-navigation {
	align-content: center;
	display: block;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		font-weight: 400;
	}

	ul:first-child>li:first-child {
		display: none; //hide home icon in Mobile & Tablet layout
	}

	a {
		display: block;
		text-decoration: none;
		
		&:visited {
			color: white;
		}
	}

	li a {
		padding: 0.5rem;

		svg {
			fill: white;
		}
	}

	.menu-header-container {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #333;

		&>ul {
			padding: 0.5rem 1rem;
			max-width: 1920px;
			margin-left: auto;
			margin-right: auto;

			@include mq(laptop) {
				padding: 0 1rem;
			}
		}
	}
}

.main-navigation ul ul,
.main-navigation ul ul li,
.main-navigation ul ul li a {
	width: 100%;
}

/* -------------------------------Small menu.(Mobile, Tablet)-------*/
.main-navigation ul ul {
	position: static; // 讓 submenu 佔據空間
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
	background-color: gray;
}

.menu-header-container .menu-item-has-children {
	display: grid;
	grid-template-columns: 1fr auto;

	.sub-menu {
		grid-column-start: 1;
		grid-column-end: 3;
		font-weight: 200;
	}
}

/* 點擊箭頭展開 */
.menu-header-container .menu-item-has-children .sub-menu-toggle[aria-expanded="true"]+ul {
	max-height: 12.5rem;
}

/* -----------------------------------Laptop, Desktop Menu-------*/
@include mq(laptop) {
	.main-navigation ul:first-child>li:first-child {
		display: initial; //show home icon

		a {
			height: 40px;
		}
	}
	.site-branding{
		padding-left: 1rem;
	}

	.menu-toggle {
		display: none; //hide hamburger menu
	}

	.main-navigation .sub-menu-toggle {
		display: none; //hide sub menu arrow
	}

	.main-navigation {

		ul {
			display: flex;
			align-items: center;
			gap: 1rem;

			ul {
				background-color: gray;
			}
		}

		li {
			position: relative; // submenu 的 absolute 會參考這個 li
		}
	}

	.menu-header-container .menu-item-has-children {
		display: block;
	}

	.main-navigation ul ul {
		position: absolute;
		top: 100%;
		left: 0;

		display: block;
		padding: 0;
		width: max-content;
		z-index: 999;
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-in-out;
		pointer-events: none; // 防止 hover 還沒展開就被 hover 到

	}

	.main-navigation li:hover>ul {
		max-height: 15rem;
		pointer-events: auto;
	}

}
@media screen and (min-width: 1920px) {
	.menu-header-container>ul {
		padding: 0;
	}
}

/* ======================== Footer menu ======================= */
.site-footer {
	background-color: #333;
}

.site-footer hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-color: #e5e7eb;
}

.footer-menus {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	padding-bottom: 0;
}

.footer-logo {
	margin-top: 1rem;
	padding-left: 0.5rem;

	svg {
		height: 5rem;
		width: auto;
	}

	.site-description {
		margin: 1.5rem 0 0 0;
		color: #fff;
		list-style: none;
		padding: 0;
	}
}

/* ---------------------------------------.menu-social-media-container */

.menu-footer-social-media-container {
	margin-top: 1.75rem;
	padding-left: 0.5rem;

	#menu-footer-social-media {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		align-items: center;
	}

	img {
		height: 5rem;
		margin: 1.5rem 0;
	}

	.menu-item-social svg {
		width: 2.5rem;
		height: 2.5rem;
	}
}

.menu-item-social.menu-item-google-form a {
	padding: 0.5rem 1.25rem;
	border: 1px solid #ffffff;
	border-radius: 2rem;
	background-color: transparent;
	text-decoration: none;
	color: #fff;
}

.contact-info {
	color: #fff;
}

.menu-footer-social-media-container ul,
.menu-footer-sitemap-container ul,
.footer-certificate ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* ---------------------------------------.menu-footer-sitemap-container */

.menu-footer-sitemap-container {
	margin-top: 1.75rem;

	a {
		display: block;
		width: 100%;
		padding: 0.5rem;
		text-decoration: none;
		color: #fff;
	}

	a:visited {
		color: #fff;
	}
	a:hover {
		text-decoration: underline;
	}

}

.menu-footer-sitemap-container>ul>li {
	font-weight: 600;
}

.menu-footer-sitemap-container>ul>li:not(:last-child) {
	border-bottom: 1px solid #ffffff;
}

.menu-footer-sitemap-container>ul>li>ul>li {
	font-weight: 200;
}

/* 預設收起 */
.menu-footer-sitemap-container ul ul {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
}

/* 按鈕 aria-expanded true 時展開 */
.menu-footer-sitemap-container .menu-item-has-children .sub-menu-toggle[aria-expanded="true"]+ul {
	max-height: 12.5rem;
}

.menu-footer-sitemap-container .menu-item-has-children {
	display: grid;
	grid-template-columns: 1fr auto;
}


/* ---------------------------------------.footer-certificate */
.footer-certificate {
	margin-top: 1.75rem;
	padding-left: 0.5rem;

	ul {
		display: flex;
		gap: 1rem;
	}

	img {
		height: 5rem;
	}
}

/* ---------------------------------------.site-info */

.site-info {
	padding-bottom: 1rem;

	p {
		color: #fff;
		text-align: center;
		margin: 0;
	}
}

@media screen and (min-width: 600px) {

	.footer-menus {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.footer-logo {
		border-right: 1px solid #ffffff;
	}

	.menu-footer-social-media-container {
		margin-top: 1rem;
		padding: 0 0 1rem 1rem;
	}

	.menu-footer-social-media-container #menu-footer-social-media {
		gap: 1.5rem;
		padding-bottom: 0.5rem;
	}

	.menu-footer-sitemap-container {
		grid-column-start: 1;
		grid-column-end: 3;
		height: max-content;
		border-top: 1px solid #ffffff;
		padding-top: 1rem;
		margin-top: 0;

		&>ul {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));

		}

		#menu-item-85 {
			grid-column-start: 1;
			grid-column-end: 2;
			grid-row-start: 2;
		}

		.sub-menu-toggle {
			display: none;
		}

		.menu-item-has-children {
			display: block;
		}
	}

	.menu-footer-sitemap-container ul ul {
		overflow: unset;
		transition: none;
		max-height: none;
	}

	.menu-footer-sitemap-container>ul>li:not(:last-child) {
		border-bottom: 0px;
	}

}

@media (min-width: 640px) {
	.site-footer hr {
		margin-left: auto;
		margin-right: auto;
	}
}

@include mq(tablet-sm) {

	.footer-logo svg,
	.menu-footer-social-media-container img,
	.footer-certificate img {
		height: 6.5rem;
	}

	.menu-footer-social-media-container .menu-item-social svg {
		width: 3rem;
		height: 3rem;
	}

	.menu-item-social.menu-item-google-form a {
		padding: 0.75rem 1.5rem;
	}
}

@media screen and (min-width: 1024px) {

	.footer-menus {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		grid-template-rows: auto 1fr;

		max-width: 1920px;
		margin-left: auto;
		margin-right: auto;
	}

	.footer-logo {
		padding-top: 0.5rem;
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}

	.menu-footer-social-media-container {
		border-right: 1px solid #ffffff;
		padding: 0.5rem 1rem 1rem 1rem;

		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 1;
		grid-row-end: 3;

	}

	.menu-footer-sitemap-container {
		border-top: 0;
		padding-left: 1rem;
		padding-top: 0;
		margin-top: 1rem;

		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 1;
		grid-row-end: 2;


		ul {
			height: max-content;
		}

		li {
			width: 200px;
		}
	}

	.footer-certificate {
		padding-left: 1rem;
		margin-bottom: 1rem;

		grid-column-start: 3;
		grid-column-end: 5;
		grid-row-start: 2;
		grid-row-end: 3;
	}

	.site-footer hr {
		margin-top: 0;
		margin-bottom: 1rem;
	}

}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}