.blog,
.single-post,
.archive.category {

	.site {
		
		display: grid;
		grid-template-columns: auto;
		grid-template-areas:
			"header"
			"banner"
			"main"
			"sidebar"
			"footer";
	}

	.banner {
		grid-area: banner;
	}

	.site-header {
		grid-area: header;
	}

	.cotent-container{
		grid-area: main;
		overflow: hidden;
		/* Resolves issue with <pre> elements forcing full width. */

		width: 100%;
		padding-left: 1rem;
		padding-right: 1rem;
		margin-left: auto;
		margin-right: auto;
		background-color: #FBFCF8;

		@include mq(mobile) {
			max-width: 480px;
			padding-left: 1.25rem;
			padding-right: 1.25rem;
		}

		@include mq(tablet-sm) {
			max-width: 768px;
			padding-left: 2rem;
			padding-right: 2rem;

			display: flex;
			gap: 1rem;

			.widget-area{
				max-width: 240px;
			}
		}

		@include mq(tablet) {
			max-width: 1024px;
			gap: 1.5rem;
		}

		@include mq(laptop) {
			max-width: 1280px;
			
			.widget-area{
				max-width: 280px;
			}
		}

		@include mq(desktop) {
			max-width: 1440px;
			gap: 2.5rem;
			.widget-area{
				max-width: 300px;
			}
		}
	}

	.site-footer {
		grid-area: footer;
	}
}